header{
    /* display: flex;
    flex-direction: row;
    background-color: maroon; */
}

.header-links a:link{
    text-decoration: none;
}

.header-links a:hover{
    text-decoration: underline;
}

.header-links a:visited{
    color: black;
}

.header-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 500px;
    border-style: dotted;
    background-color: limegreen; */
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

.material-icons-outlined{
    font-size: auto;
    color: gray;
} 

.midsection{
    text-align: center;
    margin-top: 140px;
} 

.textArea{
    border-radius: 100px;
    border-width: 0px;
    box-shadow: 0 0 2px grey;
    padding: 10px 200px;
    margin: 40px;
}

.textArea:hover{
    box-shadow: 0 1px 8px rgb(185, 185, 185);
}

button{
    border: none;
    border-radius: 2px;
    background-color: #f8f9fa;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

button:hover{
    background-color: #f8f9fa ;
    box-shadow:0 0 2px grey;
}

.lang{
    padding: 20px;
}

footer{
    background-color: #f2f2f2;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: grey;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-links{
}

.footer-links a:link{
    color: grey;
    text-decoration: none;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-links a:visited{
    color: grey;
}